

.tdWidth {
    max-width: 150px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}

.tdWidth:hover {
    max-width: 150px;
    white-space: unset;
    overflow-wrap: break-word;
    word-break: break-word;
}

.tableStyle1 {
    min-width: 960px; 
    margin: 0 auto;
    font-size: 100%;
}

@media only screen and (max-width: 600px) {
    .tableStyle1 {
        font-size: 80%;
    }
}
  
@media only screen and (orientation: landscape) {
    .tableStyle1 {
        font-sizefffffffffffffff: 100%; /* don't hink this is needed now. Was for mobile orientation zooming issue. */
    }
  }