body {

}

main {

}

.reportTitle {
    margin-left: 5px;
    font-size: 20px;
}

.tdWidth {
    max-width: 150px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}

.tdWidth:hover {
    max-width: 150px;
    white-space: unset;
    overflow-wrap: break-word;
    word-break: break-word;
}

.dateCol, .ageCol  { 
    white-space: nowrap; /* so date and age columns don't wrap */
}

.tableOverflow { /* make the table scrollable if screen too small */
    overflow-x: auto;
    width: 98%;
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) { /* was min 601px */
    .tableStyle1 {
        font-size: 75%;
        margin: 0 auto;
    }
    .scoreCount {
        font-size: 80%;
        margin-left: 6px;
        margin-bottom: 14px;
        margin-top: -8px;
    }
}


@media only screen and (min-width: 801px) { /* was min 801px */
    #super4 { /* image on contact form of the 4 super heroes */
        width: 50%;
    }
    .tableStyle1 {
        font-size: 100%;
        margin-bottom: 0px;
        margin-top: -6px;
    }
    .scoreCount {
        font-size: 100%;
        margin-left: 6px;
        margin-bottom: 16px;
        margin-top: -6px;
    }
}

@media only screen and (max-width: 600px) {
    .tableStyle1 {
        font-size: 70%; 
        margin: 0 auto;
    }
    .scoreCount {
        font-size: 75%; 
        margin-bottom: 16px;
        margin-top: -6px;
        padding-left: 7px;
    }
    #super4 { /* image on contact form of the 4 super heroes */
        width: 90%;
    }

}
  
@media only screen and (orientation: landscape) {
    .tableStyle1 {        
    }
}

#reportDropdowns {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}

#reportDropdowns2 {
    float: right;
    margin-top: -12px;
    margin-right: 4px;
}

.pagination {
    display: inline;
}

/* make materialize css pagination smaller */
.pagination li {
    height: 25px; /* was 30px */
    margin-bottom: 2px;
}

.pagination li a {
    font-size: 0.8rem; /* was 1.2rem */
    line-height: 20px; /* was 30px */
    margin-left: -3px; /* to make control less wide (for mobiles) */
    margin-right: -3px; /* to make control less wide (for mobiles) */
}

.pagination li i {
    font-size: 1.5rem;  /* was 2rem */
}
  
.linesButton {
    font-size: 80%;
    padding: 2px 4px 2px 4px;
    color: white;
    margin-left: 4px;
    margin-right: -6px;
}

.btn-small { /*overide materialize*/
    width: 160px;
    padding: 0;
    margin-left: 4px;
}
  
@media only screen and (max-width: 700px) {
    .btn-small {
        font-size: 65%;
        width: 100px;
    }
}
  
.sortedCol {
    text-decoration: underline;
    font-weight: bolder;
    text-decoration-style: double;
}

.largerFont {
    font-size: 150% !important;
}

.radBox {
    border: solid;
    border-radius: 3px;
}

#editDel {
    width: 8px; 
}




/* login styling */
#SignUpTitle {
    margin-bottom: 0px;
    text-align: center;
}
.errorSignUp {
    color: red;
    text-align: center;
    margin-bottom: -10px;
}
.successSignUp {
    color: green;
    text-align: center;
    margin-bottom: -10px;
}
.marginReduce20 {
    margin-bottom: -20px !important; /* used on Materialize inputs to reduce spacing */
}
.marginReduce40 {
    margin-bottom: -40px !important; /* used on Materialize inputs to reduce spacing */
}
.btn100 {
    width: 100%; /* used on Materialize buttons */
    font-size: 80% ; /* so text is small enough on some screen sizes to still be centered */
    -webkit-appearance: none !important; /* to make buttons appear the same */
}
.brand-logo {
    margin-left: 5px; /* move logo off the edge */
}
/* login styling -end*/

#menuLogo {
    font-size: 22px;
}

#mobileMenu {
    font-size: 22px;
}

.reduceColHeight {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 3px;
    padding-left: 3px;
}


.rowDropdownH {
    width: 38px !important; /* make dropdown smaller */
    min-width: 38px;
}

.rowDropdown {
    margin-left: -6px;
    min-width: 44px;  /* has to be a bit bigger than the parent (rowDropdownH) */
}

/* pagination page number input */
.pagInput {
    border: 1px solid black !important;
    width: 26px !important;
    height: 21px !important;
    font-size: 12px !important;
    padding-left: 2px !important;
    border-radius: 3px !important;
}

.pagPages {
    display: inline;
    margin-left: 3px;
    font-size: 14px;
}

#pageChange {
  border: none;
  color: white;
  padding: 2px 3px 4px 3px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}

/* don't show arrows in number input box so box can be smaller (for mobiles) */
input[type=number] { -moz-appearance: textfield; } /* this line specific to Firefox */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.nilLM {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

#sqlSpinner {
    display: none;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -30px;
}

/* Used to store spinner yes or no */
#spinnerSet {
    display: none;
}

.ablack {
    color: black;
    padding-left: 30px !important;
    margin-right: 4px !important;
}

#acName {
    padding-left: 0px;
}

#screenshot {
    sorder: solid;
    box-shadow: -5px 8px 8px #888888;
}